<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <%= link_to "View all Portfolio Items", portfolios_path %>
      <a href="#"><%= fa_icon "arrow-circle-up", class: "fa-3x fa-pull-right" %></a>
    </p>
    <p>
      <%= copyright_generator %>
    </p>
  </div>
</footer>