<h1>About the RendeerRenderers..</h1>
<p>I just made my first bigger rails application and I find the word RENDEERRENDERER quite amusing.</p>
<hr>
<p>You can contact me for further information.</p>
<p class="lead">
    <%= link_to "Contact me..", contact_path, class: "btn btn-lg btn-secondary" %>
</p>