<h1>Pages#contact</h1>
<p>Find me in app/views/pages/contact.html.erb</p>
<p><%= number_to_phone "022661326628" %></p>
<p><%= number_to_percentage "23480.4" %></p>
<p><%= number_with_delimiter "543643564356453645" %></p>